<aside class="control-sidebar control-sidebar-dark">
    
  <div class="tab-content">
      <div class="box-body">
        <h3>My Order</h3>
          <table class="table table-bordered">
            <tbody><tr>
              <th style="width: 10px">#</th>
              <th>Item</th>
              <th>Quantity  </th>
              <th style="width: 40px">Price</th>
              <th style="width: 40px">Customization</th>
            </tr>
            <tr>
              <td>1.</td>
              <td>Burger</td>
              <td>2</td>
              <td><span class="badge bg-red">$20</span></td>
              <td><span class="badge bg-red"></span>Customization | Delete</td>
            </tr>
            <tr>
              <td>2.</td>
              <td>Burger</td>
              <td>2</td>
              <td><span class="badge bg-red">$20</span></td>
              <td><span class="badge bg-red"></span>Customization | Delete</td>
            </tr>
            <tr>
              <td>3.</td>
              <td>Burger</td>
              <td>2</td>
              <td><span class="badge bg-red">$20</span></td>
              <td><span class="badge bg-red"></span>Customization | Delete</td>
            </tr>
            <tr>
              <td>4.</td>
              <td>Burger</td>
              <td>2</td>
              <td><span class="badge bg-red">$20</span></td>
              <td><span class="badge bg-red"></span>Customization | Delete</td>
            </tr>
            <tr >
                <td colspan="5">Total : $400</td> 
              </tr>
          </tbody></table>
          
        </div>
        <div>
            <button type="button" class="btn btn-block btn-primary btn-lg">Proceed To Checkout</button>
        </div>
  </div> 
</aside>
